.p {
  width: 30%;
  height: 200px;
  margin: 20px 10px;
  border: 2px solid #283558;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.p-browser {
  height: 20px;
  background-color: #283558;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.p-circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 3px;
  background-color: #0066ff;
  cursor: pointer;
}
.p-img {
  width: 100%;
  transition: all 3s ease-in-out;
}
.p:hover .p-img {
  transform: translateY(calc(-100% + 200px));
}
@media screen and (max-width: 480px){
  .p{
    width: 40%;
    height: 20vh;
  }
}